<configuration>
    <springProperty scope="context" name="logstash.host" source="logstash.host"/>
    <springProperty scope="context" name="logstash.port" source="logstash.port"/>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash.host}:${logstash.port}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="logstash" />
    </root>
</configuration>